<partial name="_Breadcrumbs" model=@(new [] {
    ("","Home") 
})>

<div class="card bg-light text-white">
  <div class="card-header bg-dark">
    <h1 class="card-title text-center my-3">Welcome to Movie Manager</h1>
  </div>
  <img class="card-img" src="https://www.netclipart.com/pp/m/216-2167417_drinking-and-drug-use-movie-popcorn-and-drink.png">
  </div>
</div>
